@use "../../../../styles/common" as *;

.inputContainer {
    display: flex;
    align-items: center;
    margin: 24px 0;
    box-shadow: 3px 3px 10px rgba(83, 83, 83, 0.1);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    .searchInput {
        padding: 12px 10px;
        background-color: $white;
        border: none;
        outline: none;
        width: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        &::placeholder {
            opacity: 0;
        }
    }
    .searchIconBtn {
        background-color: #2c2c2c;
        padding: 6px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
        cursor: pointer;
        .searchIcon {
            margin-top: 4px;
        }
    }
}