@use "../../../styles/common" as *;


.slideContainer {
    display: flex !important;
    flex-direction: column;
    border: none;
    justify-content: center;
    outline: none;
    .slideImg {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
        cursor: pointer;
        transition: transform 0.6s ease, box-shadow 0.6s ease;
        &:hover {
            transform: translate(0, -6px);
            box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
        }
    }
    .slideText {
        width: 95%;
        padding: 0 8px;
        font-size: $size-14;
        margin-top: 8px;
        font-weight: 600;
        text-align: left;
        color: $btn;
        cursor: pointer;
    }
}
