@use "../../../../styles/common" as *;

.footerSection {
    background-color: $bg;
    .footerWrapper {
        padding: 80px 0;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .footerRowContaier {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .selectBoxContainer {
            margin: 24px 0;
            position: relative;
            .selectBox {
                width: 100%;
                padding: 16px;
                border: none;
                outline: none;
                appearance: none; 
            }
            &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-style: solid;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-top: 8px solid #555555;
                border-bottom: 0;
                border-radius: 6px;
                position: absolute;
                pointer-events: none;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
            }
        }
        .othersList {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .otherItem {
                color: $skyblue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .categoryList {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: 24px 0;
            .categoryItem {
                display: flex;
                flex-direction: column;
                padding: 20px 0 8px 16px;
                .categoryTitle {
                    display: flex;
                    cursor: pointer;
                    .categoryText {
                        margin-left: 8px;
                        font-weight: 600;
                        transition: all .6s ease;
                        &:hover {
                            opacity: .3;
                        }
                        .categoryCount {
                            margin-left: 8px;
                            background-color: #8f8f8f;
                            color: $white;
                            font-size: $size-10;
                            padding: 3px 0 16px;
                            border-radius: 50%;
                            width: 26px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }
                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #cecece;
                    margin-top: 4px;
                }
            }
        }
        .tagList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin: 24px 0;
            .tagItem {
                color: #333;
                font-size: $size-12;
                border: solid 1px #e9e9e9;
                padding: 4px 6px;
                cursor: pointer;
                font-weight: 300;
                &:hover {
                    border: solid 1px #bebebe; 
                }
                .tagCount {
                    margin-left: 4px;
                }
            }
        }
        .profileSection {
            margin: 24px 0;
            .profileImgContainer {
                position: relative;
                .profImg {
                    width: 100%;
                    height: auto;
                }
                .avatar {
                    position: absolute;
                    bottom: -10%;
                    left: 38%;
                    border: solid 2px $white;
                    border-radius: 50%;
                }
            }
            .authorName {
                padding: 60px 0 40px;
                text-align: center;
                font-weight: 700;
                font-size: $size-20;
                letter-spacing: .1em;
            }
            .profText {
                padding: 0 16px;
                color: #353535;
                line-height: 2;
                .linkColor {
                    color: $skyblue;
                }
            }
            .SNS {
                border-radius: 50%;
                margin: 32px auto;
                display: block;
            }
            .linkColor {
                color: $skyblue;
            }
        }
    }
    
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}