@use "../../../../styles/common" as *;

.notionLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .notionLink {
        background-color: $btn;
        border: none;
        padding: 10px 24px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .6s ease;
        color: $white;
        font-size: $size-16;
        font-weight: 600;
        margin: 120px auto 80px;
        &:hover {
            box-shadow: 0px 20px 50px rgba(0, 0, 0, .15);
        }
    }
}
