@use "../../../../styles/common" as *;

.footerSection {
    background-color: $bg;
    display: flex;
    .footerWrapper {
        padding: 80px 16px;
        margin: 0 auto;
        max-width: 1200px;
        justify-content: space-between;
        gap: 24px;
        width: 100%;
        display: flex;
        .footerRowContaier {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .aboutTextContainer {
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-size: $size-16;
            color: #4d4d4d;
            line-height: 2;
            .textLink {
                color: $skyblue;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .linkList {
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: $btn;
            .linkItem {
                .link {
                    color: $skyblue;
                    display: flex;
                    flex-direction: column;
                    &:hover {
                        text-decoration: underline;
                        color: $skyblue;
                    }
                }
            }
        }
    }
}

