@use "../../../styles/common" as *;

.popularListSection {
    background-color: $white;
    padding: 32px 40px;
    border-radius: 10px;
    margin-bottom: 160px;
    .popularListTitle {
        margin-top: 20px;
        color: $btn;
    }
    .shareContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        .shareTitle {
            color: #bebebe;
            font-size: $size-22;
            font-weight: 600;
            letter-spacing: .1em;
        }
        .shareList {
            list-style: none;
            display: flex;
            gap: 40px;
            .snsListItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: all .6s ease;
                &:hover {
                    opacity: .6;
                }
                .snsText {
                    color: #999999;
                    font-size: $size-12;
                }
            }
        }
    }
}